*
!.zshrc
!.zprofile
!.vimrc
!.config
!.config/conky
!.config/conky/*
!.config/alacritty
!.config/alacritty/*
!.config/kitty
!.config/kitty/*
!.config/copyq
!.config/copyq/*
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/neofetch
!.config/neofetch/*
!.config/polybar
!.config/polybar/*
!.config/rofi
!.config/rofi/*
!.config/picom
!.config/picom/*
!.config/quicktile.cfg
!.config/redshift.conf